body
{
    margin: 0px;
    padding: 0px;
    background: #487eb0;
}
.signup-form
{
    
    width: 300px;
    padding:20px;
    text-align: center;
   background-image: url(tour-eiffel-deux-chefs-etoiles-pour-prendre-la-place-dalain-ducasse-1300523.jpg);
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
   
}
.signup-form h1
{
    margin-top: 100px;
    font-family: 'Permanent Marker', cursive;
    color="#fff";
    font-size: 40px;
}
.signup-form input
{
    display: block;
    width: 100%;
    padding: 0 16px;
    height: 40px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: "montserrat",sans-serif;
}
.txtb
{
    margin: 20px 0;
    background: rgba( 255,255,255,.5);
    border-radius: 6px;
}
.signup-btn

{
    margin-top: 60px;
    margin-bottom: 20px;
    background: #487eb0;
    color: #fff;
    border-radius: 44px;
    cursor: pointer;
    transition: 0.8s
    
    
    
}
.signup-btn:hover
{
    transform: scale(0.96);
}
 
  div .signup-form form  p .suc
{
    color: green;
}

.comments
{
    color: red;
    text-transform: uppercase,
}